.board-tile {
  height: 3.4vw;
  width: 3.4vw;
  background-color: rgb(255, 238, 0);
  color: rgb(16, 16, 116);
  border-radius: 20%;
  font-size: 1.5vw;
  margin: 0.08em;
  font-family: "Rock Salt", cursive;
}
.board-tile:hover {
  transform: scale(1.1);
  /* background-color: rgb(255, 208, 0); */
  border-radius: 20%;
  font-size: 1.6vw;
  font-weight: bold;
}

.highlight {
  background-color: blue;
}
