.outer-paper {
  width: 100%;
  padding: 0;
  margin: 0;
}
.instructions {
  /* background-color: rgb(16, 16, 116); */
  background: linear-gradient(
    297deg,
    rgba(50, 68, 153, 1) 21%,
    rgba(52, 70, 154, 1) 56%,
    rgba(3, 23, 113, 1) 100%,
    rgba(22, 43, 140, 1) 116%
  );
  color: rgb(255, 238, 0);
  width: 100%;
  /* image: url("https://media.giphy.com/media/Q1aRmd8e90WIw/giphy.gif") */
  float: left;
}

.winner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgb(16, 16, 116);
  color: rgb(255, 238, 0);
  width: 100%;
  padding-bottom: 20em;
  /* background: rgb(255, 255, 255); */
  background: linear-gradient(
    16deg,
    rgba(255, 255, 255, 1) 2%,
    rgba(191, 197, 223, 1) 12%,
    rgba(100, 114, 178, 1) 39%,
    rgba(22, 43, 140, 1) 70%
  );
}

.board {
  background-image: url("https://img.jakpost.net/c/2016/11/07/2016_11_07_15475_1478503843._large.jpg");
  /* background-image: url("https://i.pinimg.com/originals/25/59/8d/25598d99f4d02f36425912b5de5dd475.jpg"); */
  /* background-image: url("https://wallpaperstock.net/wallpapers/thumbs1/36567wide.jpg"); */
  /* background-image: url("https://stmed.net/sites/default/files/the-simpsons-wallpapers-31727-1153554.jpg"); */
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-bottom: 1.7em;
  /* padding-top: 5em; */
  animation: animatebottom 1s;
}
.Board {
  padding-left: 5em;
  float: left;
}

.WordList {
  color: rgb(16, 16, 116);
  float: right;
  margin-top: 3em;
  margin-right: 18em;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.6em;
  /* background: linear-gradient(90deg, rgba(2,0,0,0) 0%, rgba(247,246,246,0) 0%, rgba(198,239,248,0) 58%, rgba(158,234,249,0) 72%, rgba(0,212,255,0) 100%); */
  text-align: left;
  align-content: center;
  height: 20em;
  width: 7em;
  font-family: "Simpsonfont";
  font-weight: 200;
}

.h1 {
  font-size: 1.35em;
  font-weight: 300;
  font-family: "Simpsonfont";
}
.instructionsList {
  font-weight: 200;
  font-size: 0.9em;
  font-family: "Simpsonfont";
}

.gif {
  margin-top: 5em;
  float: left;
  border-radius: 5em;
}
